@tailwind base;
@tailwind components;
@tailwind utilities;

.safe-area-padding {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.safe-area-padding::before {
    content: "";
    height: env(safe-area-inset-top);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
}

.safe-area-padding::after {
    content: "";
    height: env(safe-area-inset-bottom);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
}